Required Modules and Packages:
1. pandas
2. pandas_datareader
3. matplotlib.pyplot
4. numpy
5. math
6. IPython.display
7. cvxopt
8. seaborn
9. sklearn:
	(1) linear_model
	(2) train_test_split
	(3) mean_squared_error
	(4) TimeSeriesSplit
	(5) MinMaxScaler

# All of the above can be installed using pip command
